{% extends "layout.html" %}

{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{% block content %}
<h1>Flask MVC</h1>
{{ super() }}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="card-panel green lighten-4">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if is_authenticated %}
    <p>Welcome {{ current_user.username }}</p>
{% endif %}

<div class="right-align" style="margin-bottom: 20px;">
    <a href="{{ url_for('apartment_views.new_apartment') }}" class="btn red white-text">+ Add Apartment</a>
</div>

{% for apartment in apartments %}
    <div class="card">
        <div class="card-content">
            <h5>{{ apartment.title }}</h5>
            <p><strong>Description:</strong> {{ apartment.body }}</p>
            <p><strong>Amenities:</strong> {{ apartment.amenities }}</p>
            {% if apartment.photo %}
                <div class="card-image">
                    <img src="{{ url_for('upload_views.uploaded_file', filename=apartment.photo) }}" alt="Apartment Photo">
                </div>
            {% endif %}
            <p><strong>Pets Allowed:</strong> {{ apartment.pets_allowed }}</p>
            <p><strong>Price:</strong> {{ apartment.price }}</p>
            <p><strong>Address:</strong> {{ apartment.address }}</p>
            <p><strong>Location:</strong> {{ apartment.cityname }}</p>
        </div>
        <div class="card-action">
            <a href="{{ url_for('apartment_views.edit_apartment', id=apartment.id) }}" class="btn blue white-text">Edit</a>
            <form method="POST" action="{{ url_for('apartment_views.delete_apartment_route', id=apartment.id) }}" style="display:inline;">
                <button type="submit" class="btn red white-text">Delete</button>
            </form>
        </div>
    </div>
{% endfor %}
{% endblock %}
